    <div class="masterWrapper">
            {{>sidebar}}
        <div class="cardWrapperMain bg-background">
            <p class="text-slim text-offWhite">You have no subscriptions</p>
        </div>
    </div>