
        <form action="create" method="POST">
            <h1>Create new snippet</h1>
            <label for="snippetName">Name snippet</label>
            <input type="text" id="snippetName" name="snippetName" required="true" placeholder="Snippety snip!" autofocus="true">
            
            <label for="snippet">Write your snippet</label>
            <textarea name="snippet" id="snippet" cols="180" rows="20" minlength="3" required="true" placeholder="Write snippet here..."></textarea>
            
            <label for="snippetDescription">Write a short description</label>
            <textarea name="snippetDescription" id="snippetDescription" cols="50" rows="10" placeholder="What's your snippet about?"></textarea>


            <div class="tagWrapper">
                <input type="radio" name="lang" id="htmlTag" class="tagCard" value="html">
                <label for="htmlTag" id="htmlLabel" class="tagCardLabel" >.html</label>
               
                <input type="radio" name="lang" id="cssTag" class="tagCard" value="css">
                <label for="cssTag" id="cssLabel" class="tagCardLabel">.css</label>
                                
                <input type="radio" name="lang" id="javascriptTag" class="tagCard" value="javascript">
                <label for="javascriptTag" class="tagCardLabel" id="javascriptLabel">.js</label>
                                
                <input type="radio" name="lang" id="javaTag" class="tagCard" value="java">
                <label for="javaTag" class="tagCardLabel" id="javaLabel">.java</label>
                               
                <input type="radio" name="lang" id="phpTag" class="tagCard" value="php">
                <label for="phpTag" class="tagCardLabel" id="phpLabel">.php</label>

                <input type="radio" name="lang" id="txtTag" class="tagCard" value="txt">
                <label for="txtTag" class="tagCardLabel" id="txtLabel">.txt</label>
                
            </div>
            <input type="submit" value="Create snippet" class="formBtn" />
        </form>
