<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is GitBuddy!</title>
    <link rel="stylesheet" href="/css/mainStyle.css">
    {{!-- google fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200&display=swap" rel="stylesheet">
    
    <script defer src="/js/effects.js"></script>
    <script type="module" src="/js/generatePopup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
    <div id="popupContainer"></div>
    <template id="popupTemp">
    <div class="newPopupWrapper bg-segment">
        <div class="newPopupHeader bg-focus greenBottomLine">
            <h2 class="newPopupText text-fat text-offWhite">Notification</h2>
            <div class="deletePopup text-offWhite text-slim">Close</div>
        </div>
        <div class="newPopupContentWrapper text-slim text-offWhite">
            <p class="newPopupTitle">Unknown title</p>
            <p class="newPopupAuthor text-slim text-offWhite">@anonymous</p>
            <p class="newPopupRepo">Unknown repository</p>
        </div>
    </div>
</template>
<script type="module" src="/js/clientWs.js"></script>
</body>
</html>
