
    <div class="errorWrapper bg-background">
        <div class="info">
            <h3 class="text-darkGrey">You have to be logged in to view this page.</h3>
            <p class="text-darkGrey">Create an account to manage your repositories!</p>
        </div>
    </div>

