    <div class="errorWrapper bg-background">
        <div class="info">
            <h3 class="text-darkGrey">Server error</h3>
            <p class="text-darkGrey">It seems to be a problem with our server at the moment.</p>
        </div>
    </div>