<main class="mainWrapper">
    <div class="newsHeader">
        <h2>Start hacking with snippets!</h2>
        <p>Fast access to your most used snippets</p>
    </div>

    <div class="content">
        <div class="newsInfo">
            <h3>
                "Snippet is a programming term for a small region of re-usable source code, machine code, or text. 
                Ordinarily, these are formally defined operative units to incorporate into larger programming modules. 
                Snippet management is a feature of some text editors, program source code editors, IDEs, and related software. 
                It allows the user to avoid repetitive typing in the course of routine edit operations."
            </h3>
            <p>from Wikipedia</p>
        </div>
        <div class="newsFeedWrapper">
            <div class="newsCard">
                <h3>Latest features</h3>
                <p>
                    Lorem ipsum dolor sit amet, est ei augue deserunt, mundi viris eum no. 
                    Has hinc choro diceret in, mea sanctus detracto elaboraret id, iuvaret ceteros argumentum eu mei. 
                    Quaestio definitiones in mei, ut accusamus mediocritatem vim. 
                    Mei in delicata adolescens deterruisset, doming bonorum praesent ne est. Utinam audire cu ius. 
                    Habeo graeco no est.

                    Pro ex inani accusata aliquando. Ad mei eros tation scriptorem. Nonumy eleifend usu ea. 
                    Vis ne quas nonumes, ex qui sonet commodo consectetuer. Alii habemus civibus ut eam, te ius altera minimum scribentur.
                </p>
            </div>
             <div class="newsCard">
                <h3>SnippIt, most popular snippet-app</h3>
                <p>
                    Lorem ipsum dolor sit amet, est ei augue deserunt, mundi viris eum no. 
                    Has hinc choro diceret in, mea sanctus detracto elaboraret id, iuvaret ceteros argumentum eu mei. 
                    Quaestio definitiones in mei, ut accusamus mediocritatem vim. 

                    Mei in delicata adolescens deterruisset, doming bonorum praesent ne est. Utinam audire cu ius. 
                    Habeo graeco no est.
                    Pro ex inani accusata aliquando. Ad mei eros tation scriptorem. Nonumy eleifend usu ea. 
                    Vis ne quas nonumes, ex qui sonet commodo consectetuer. Alii habemus civibus ut eam, te ius altera minimum scribentur.
                </p>
            </div>
             <div class="newsCard">
                <h3>Open source project</h3>
                <p>
                    Lorem ipsum dolor sit amet, est ei augue deserunt, mundi viris eum no. 
                    Has hinc choro diceret in, mea sanctus detracto elaboraret id, iuvaret ceteros argumentum eu mei. 
                    Quaestio definitiones in mei, ut accusamus mediocritatem vim. 
                    Mei in delicata adolescens deterruisset, doming bonorum praesent ne est. Utinam audire cu ius. 
                    Habeo graeco no est.
                    Pro ex inani accusata aliquando. 
                    
                    Ad mei eros tation scriptorem. Nonumy eleifend usu ea. 
                    Vis ne quas nonumes, ex qui sonet commodo consectetuer. Alii habemus civibus ut eam, te ius altera minimum scribentur.
                </p>
            </div>
        </div>
    </div>
</main>