/* font-family: 'Nunito Sans', sans-serif; */

.viewDescriptionWrapper {
margin-bottom: 20px;
}
.viewDescriptionWrapper > h3 {
    margin-top: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

.viewDescription {
    margin: 20px 0px;
    font-family: 'Nunito Sans', sans-serif;
}

.viewAuthor {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
}

.italic {
    font-style: italic;
}

