.Notifications {
    border-radius: var(--border-radius-fixed);
    padding: 20px;
    width: 90%;
    margin: 20px auto;
}

.Notifications ul {
    max-width: 300px;
    padding: 10px;
}

.Notifications ul li {
    margin-bottom: 10px;
}

.Notifications hr {
    margin: 10px 0;
    max-width: 300px;
}

.Notifications__unread {
    background-color: var(--color-blue-faded);
}
