<main>
    <section id="createAccountSection">
        <div class="leftView">

            <img id="createAccountImg" src="\images\computerWithCode.jpg" alt="Picture of a computer showing code">
        </div>
        <div class="rightView">
            <div class="createAccountContainter">

                    <div class="createAccountHeader">
                        <h1>Create your account</h1>
                    </div>
                    <form action="createAccount" method="POST">
                        <label for="username">Choose username</label>
                        <input type="text" id="username" name="username" />
                        <label for="name">Your name</label>
                        <input type="text" id="name" name="name" />
                        <label for="surname">Your lastname</label>
                        <input type="text" id="surname" name="surname" />
                        <label for="passphrase">Choose a passphrase</label>
                        <input type="password" id="passphrase" name="passphrase" class="inputField"/>
                        <label for="passphraseCheck">Confirm passphrase</label>
                        <input type="password" id="passphraseCheck" name="passphraseCheck" class="inputField" />
                        <input type="submit" id="createAccountBtn" class="formBtn" value="Create">
                    </form>
                    
            </div>
        </div>
    </section>
</main>