<main class="loginWrapper">
    <section class="loginSection">
        <div  class="createAccountHeader">
            <h1>Log in</h1>
        </div>
       <form action="login" method="post">
           <label for="username">Username</label>
           <input type="text" id="username" placeholder="Username" name="username"/>
            <label for="passphrase">passphrase</label>
           <input type="password" id="passphrase" placeholder="passphrase" name="passphrase" class="inputField"/>
           <input type="submit" value="Log in" class="formBtn">
       </form>
    </section>
</main>