<div class="indexHeaderWrapper bg-background">
         
    <div id="uspWrapper">
        {{>flash}}
        <div class="headerContainer">
            <h1 class="indexHeader text-hardGreen text-slim">GITBUDDY</h1>
        </div>    
        <p class="indexContent text-offWhite text-fat">
                    GitBuddy supports the computer science
                    expo in Sweden. <br/>
                    New releases and talks from one <br/>
                    of the founders of GitBuddy. <br/>
        </p>
        <button class="actionBtn text-offWhite text-fat bg-hardGreen">READ MORE</button>
    </div>
</div>
