        <div class="profileWrapper bg-segment">
            <div class="listWrapper">
                <h2 class="text-offWhite">{{user.username}}</h2>
                <ul id="sidebarLinks">
                    <li><a id="profile" class="text-offWhite text-slim aTag" href="/profile">Repositories</a></li>
                    <li><a id="subscriptions" class="text-offWhite text-slim aTag" href="/profile/subscriptions">Subscriptions</a></li>
                    <li><a id="settings" class="text-offWhite text-slim aTag" href="/profile/settings">Settings</a></li>
                </ul>
            </div>
        </div>