<main id="main">
    <div class="wrapper">
<pre class="display">
&lt;
    unathourized
                            /&gt;
</pre>
        <div class="info">
            <h3>You have to be logged in to view this page.</h3>
            <p>Create an account to start hackning with snippets!</p>
        </div>
    </div>
</main>