<main id="main">
    <div class="wrapper">
<pre class="display">
&lt;
      Forbidden
                            /&gt;
</pre>
        <div class="info">
            <h3>You are not allowed to acess this document.</h3>
        </div>
    </div>
</main>