<main id="main">
    <div class="wrapper">
<pre class="display">
  &lt;
      404
               /&gt;
</pre>
        <div class="info">
            <h3>We can't seem to find the page you're looking for</h3>
            <p>:´(</p>
        </div>
    </div>
</main>