<main id="main">
    <div class="wrapper">
<pre class="display">
  &lt;
      500
               /&gt;
</pre>
        <div class="info">
            <h3>Internal server error</h3>
            <p>Please try again or contact us if the problem presist</p>
        </div>
    </div>
</main>